<header th:fragment="header(active)">
    <nav class="navbar navbar-expand-lg navbar-light bg-white mt">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/transfert">Pay My Buddy</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/transfert"
                           th:classappend="${active == 'transfert'} ? 'active'">Transférer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="/profile"
                           th:classappend="${active == 'profile'} ? 'active'">Profil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="/addrelation"
                           th:classappend="${active == 'addrelation'} ? 'active'">Ajouter relation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="/signout"
                           th:classappend="${active == 'contact'} ? 'active'">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>