<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head-common :: common-head('Connexion')"></th:block>
    <style>
        .signin-button{
            width:205px;
            height:64px;
            margin:auto;
            margin-top:114px;
            background-color:#207FEE;
            color:white;
            font-weight:700;
            font-size:24px;
        }
        .input-email{
            margin-top:114px;
        }
        .input-password{
            margin-top:42px;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">

<main class="center-frame">
    <h1 class="title-box">Pay My Buddy</h1>

    <form method="post" th:action="@{/signin}" th:object="${userSignInDto}">
        <div class="input-email">
            <label class="visually-hidden" for="email">Mail</label>
            <input
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Mail"
                    required
                    th:field="*{email}"
                    type="email"
            />
        </div>
        <div class="input-password">
            <label class="visually-hidden" for="password">Mot de passe</label>
            <input
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Mot de passe"
                    required
                    th:field="*{password}"
                    type="password"
            />
        </div>

        <p
                class="form-errors"
                role="alert"
                th:if="${error}" th:text="${error}"
        ></p>

        <button class="signin-button btn btn-primary d-block mx-auto" type="submit">Se connecter</button>
    </form>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>